<% content_for :header do %>
<h1>Listing clips</h1>
<% end %>
<%= link_to 'New Clip', new_clip_path ,'data-role' => 'button'%>
<br/>
<ul data-role="listview">
<% @clips.each do |clip| %>
  <li><%= link_to clip.url do %>
    <% if clip.image.present? %>
      <%= image_tag clip.image,:size=>'80x80' %>
    <% end %>
    <h3 class="title"><%= clip.title %></h3>
    <p>[<span class="og_type"><%= clip.og_type %></span>]<span class="description"><%= clip.description %></span></p>
  <% end %>
  </li>
<% end %>
</ul>

<br />

