<% content_for :header do %>
<h1>Listing clips</h1>
<% end %>
<ul data-role="list-view">
<% @clips.each do |clip| %>
  <li><%= link_to clip.url do %>
    <% if clip.image.present? %>
      <%= image_tag clip.url,:size=>'80x80' %>
    <% end %>
    <h3><%= clip.title %></h3>
    <p>[<%= clip.type %>]<%= clip.description %></p>
    <%# clip.audio %>
    <%# clip.video %>
  <% end %>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Clip', new_clip_path %>
