<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Clipin</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="shortcut icon" href="/favicon.ico">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</head>

<body>
  <% if content_for?(:header) %>
    <%= yield(:header) %>
  <% else %>
    <div class="navbar navbar-fixed-top" id="header">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><a class="brand" href="#">Clipin</a></li>
            <li><div class='lsf-icon-big calendar' title="calendar" data-date-format="yyyy-mm-dd"></div></li>
            <li><a href="#new" class='lsf-icon' title='clip'>New</a><li>
          </ul>
          <ul class="nav pull-right">
            <li><a href='#menu' class='lsf-icon-big open hidden-desktop' title="menu"></a></li>
            <li><a href='#conf' class='lsf-icon-big visible-desktop' title="setting"></a></li>
            <li><a href='/logout' class='lsf-icon-big visible-desktop' title="logout"></a></li>
          </ul>
          <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="Search" />
            <span class="search-icon">
              <i class="icon-search" tabindex="0"></i>
            </span>
          </form>
        </div>
      </div>
    </div><!-- /header -->
  <% end %>
  <div id="wrap">
  <% if content_for?(:content) %>
    <%= yield(:content) %>
  <% else %>
  <%= yield %>
    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <ul class="nav nav-list well well-small menu affix" id="menu">
          </ul>
        </div>
        <div class="span6">
          <%= render "alert" %>
          <div id="page"></div>
        </div>
        <div class="span3 visible-desktop">
          <div class="well well-small">
            <h4>Help</h4>
            <p>HeaderのNewからURLをクリップできます。より簡単にクリップするには下記のChrome Extensionを入れると便利です。
          </div>
          <div class="well well-small">
            <h4>Information</h4>
            <ul class="nav nav-list">
              <li><a href="#extension" class="lsf-icon" title="chrome">Chrome Extension</a>
              <li><a href="https://trello.com/board/clipin/5078da585054717b4423e7de" class="lsf-icon" title="newtab">Feedback</a>
            </ul>
          </div>
          <div class="well well-small">
            <p>
              <small>Designed and built with all the love in the world by <a href="http://twitter.com/kompiro">@kompiro</a>.
                Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</small>
            </p>
            <p class="muted">
              <small>
                <%= render 'released' %>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="push"></div>
  <% end %>
</div>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;js.async = true;
  <%# js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=379950992049039"; %>
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script>
$(function(){
  $('.alert').alert();
  $('.open').pageslide({direction:'left'});
})</script>
<%= javascript_include_tag "jquery.pageslide" %>
  <% if Rails.env.production? %>
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <% end %>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
